$bg-black:#000000;
$mustard:#E9AA52;
$silver:#C5C6CE;
$white:#ffffff;
$salmon:#F15D51;
$dark-blue:#00001A;
$gunmetal:#5E607A;
$hr-line:#979797;



.bg-black {
    background-color: $bg-black;
}

.txt-gunmetal {
    color: $gunmetal;
}